<!DOCTYPE html>
<html ng-app="quizApp" ng-controller="QuizController">
<head>
<meta charset="utf-8" />
<title>Specific career paths</title>
<link rel="stylesheet" href="style.css" />
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"
      type="text/javascript" async></script>
<script src="app.js"></script>
</head>

<body>
<div class="container">
  <h1 class="title">Specific career paths</h1>
  Take this quiz to find the best personalized career path of <a
        href="https://80000hours.org/career-guide/profiles/">the ones
  we’ve reviewed so far</a>.
  <div class="quiz-area">
    <div ng-repeat="(qkey, question) in questions">
      <h2 class="question">{{ question.question }}</h2>
      <div class="options" ng-repeat="(optionName, optionValue) in question.options">
          <input type="radio" 
            id="{{optionName + qkey}}" 
            name="{{ qkey }}"
            ng-model="value"  
            ng-change="radioSelected('{{ qkey }}', value)"
            ng-click="radioSelected(qkey, value)"
            value="{{ optionName }}">
          <label for="{{optionName + qkey}}">{{ optionName }}</label>
        </div>
      </div>
    </div>
    <div class="button">
    <button ng-click="calculateResults()" class="calculate">{{ buttonName }} </button></div>
    <div ng-show="quizOver">
      <h2>Results</h2>
      <div class="resultrow" ng-repeat="result in results"> 
          <div class="name">{{result.profile.title}}</div>
      <div class="image">
      <img src="{{result.profile.featuredImageUrl}}"></div>
      <div>{{result.profile.custom_fields.summaryHtml}}</div>
      <div class="fit"><span>Key facts on fit:</span> {{ result.profile.custom_fields.keyFactsOnFit }}</div>
      <div class="match"><span>Match:</span> {{ Math.round(result.match /
          result.matchPossible * 10) }} / 10</div><br />
      <a href="{{ result.profile.link }}">Read career profile</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
