<div class="quiz-area">
    <div>
        <div ng-repeat="question in questions">
            <h2 id="question">{{question.question}}</h2>
            <ul id="options">
                <li ng-repeat="option in question.options">
                    <label>
                        <input type="radio" name="answer" value="{{option}}">
                        {{option}}
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <div ng-show="quizOver">
        <h2>Quiz is over</h2>
        <button ng-click="reset()">Play again</button>
    </div>

    <div id="score">
        Score: {{score}}
    </div>
</div>

